.container {
    border-radius: 5px;
    flex-shrink: 1;
    z-index: 2;
    background: white;
    padding: 5px;
}

.collapse {
    border-bottom: none !important;
}

.ant-collapse-header {
    font-size: 18px;
}